{% extends "base.html.twig" %}

{% block title %}Movies - Acceuil{% endblock %}
{% block body %}
	<div class="container">
		<form method="post">
			<div class="input-group">
			  <span class="input-group-addon" id="basic-addon1">Titre</span>
			  <input type="text" class="form-control" placeholder="Titre...." name="title" id="title" aria-describedby="basic-addon1">
			</div>

			<div class="row">
			 	<div class="col-sm-10">
	 				<div class="input-group">
			  			<span class="input-group-addon" id="basic-addon1">Imd...</span>
			  			<input type="text" class="form-control" value="tt0898266" placeholder="IMDB" name="imdb" id="imdb" aria-describedby="basic-addon1">
			  		</div>
				</div>
				<div class="col-sm-2">
			  		<button class="btn btn-danger" id="btn_get_info"  type="button">Récupérer</button>
				</div>
			</div>

			<div class="input-group">
			  <span class="input-group-addon" id="basic-addon1">Année</span>
			  <input type="text" class="form-control" placeholder="Année...." name="year" id="year" aria-describedby="basic-addon1">
			</div>

			<div class="input-group">
			  <span class="input-group-addon" id="basic-addon1">Poster</span>
			  <img id="poster" src="" alt="">
			  <input id="posterurl" name="poster" >
			</div>

			<div class="input-group">
			  <span class="input-group-addon" id="basic-addon1">Type</span>
			  <input type="text" class="form-control" placeholder="Type...." name="type" value="anime" id="type" aria-describedby="basic-addon1">
			</div>

			<div class="row episodes">
				
			</div>

			<input type="submit" value="enregistrer" class="btn btn-default" >
		</form>
	</div>

<script type="text/javascript">
	$('#btn_get_info').on('click',function(){
		var imdb = $('#imdb').val();
		$.ajax({  
	     url:        "{{path('get_movie_info')}}",  
	     type:       'POST',   
	     dataType:   'json',
	     data: {
	     	imdb : imdb
	     } , 
	     async:      true,  
	     
	     success: function(data, status) { 
	        var show = data['show'];
	        $('#title').val(show['title']);
	        $('#year').val(show['year']);
	        $('#poster').attr('src',show['poster']);
	        $('#posterurl').val(show['poster']);
	        var html = ''; 	 	
	        for (var i = 1 ; i <= show['totalSeasons']; i++) {
	        	if(typeof(show['seasons']['season'+i])   === 'undefined' ){
	        	}else{
	        		html += '<div class="col-sm-12">Titre : '+show["seasons"]["season"+i]["title"]+'</div>';
			        for (var j = 1 ; j <= show['seasons']['season'+i]['count']; j++) {
			        	if(typeof(show['seasons']['season'+i]['episodes'][j])   === 'undefined' ){
			        	}else{
			        		html += '<div class="col-sm-8 col-sm-offset-2">'+show['seasons']['season'+i]['episodes'][j]['title']+' <br>date : '+show['seasons']['season'+i]['episodes'][j]['date']+'</div>';
			        	}
			    	}
	        	}
	        }
	        $('.episodes').empty().html(html);
	     },  
	     error : function(xhr, textStatus, errorThrown) {  
	        alert('Ajax request failed.');  
	     }  
	  });
	});
	 
</script>
{% endblock %}
