{% extends "base.html.twig" %}

{% block title %}Movies - Acceuil{% endblock %}
{% block body %}
	<div class="container">
		<form method="post" class="block_form_movie">
			<fieldset class="content-group">
				<legend class="text-bold">Nouveau utilisateur</legend>

				<div class="form-group  row">
					<label class="control-label col-lg-2 title_input">Nom</label>
					<div class="col-lg-10">
						<input type="text" required class="form-control form_input_movie" name="name">
					</div>
				</div>

				<div class="form-group  row">
					<label class="control-label col-lg-2 title_input">Prénom</label>
					<div class="col-lg-10">
						<input type="text" required class="form-control form_input_movie" name="lastName">
					</div>
				</div>

				<div class="form-group  row">
					<label class="control-label col-lg-2 title_input">UserName</label>
					<div class="col-lg-10">
						<input type="text" required class="form-control form_input_movie" name="userName">
					</div>
				</div>

				<div class="form-group  row">
					<label class="control-label col-lg-2 title_input">Mot de passe</label>
					<div class="col-lg-10">
						<input type="password" required class="form-control form_input_movie" name="pass">
					</div>
				</div>

				<div class="form-group  row">
					<label class="control-label col-lg-2 title_input">Site Web</label>
					<div class="col-lg-10">
						<input type="text" required class="form-control form_input_movie" name="webSite">
					</div>
				</div>

				<div class="form-group  row">
					<label class="control-label col-lg-2 title_input">Email</label>
					<div class="col-lg-10">
						<input type="email" required class="form-control form_input_movie" name="email">
					</div>
				</div>

	            <div class="form-group  row">
	            	<label class="control-label col-lg-2 title_input">Role</label>
	            	<div class="col-lg-10">
	                    <select required name="role" class="form-control">
	                        <option value="1">Manager</option>
	                        <option value="2">User</option>
	                    </select>
	                </div>
	            </div>

				<div class="form-group row">
					<div class="col-sm-12 text-center">
						<input type="submit" value="enregistrer" class="btn btn-default submit_btn" >
					</div>
				</div>
			</fieldset>
		</form>
	</div>

{% endblock %}
