

RewriteEngine On

#RewriteBase /home/zystream/public_html/public

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
#RewriteRule ^(.*)$ /public/?url=$1 [QSA,L]
